<!--
  max   : number of items displayed for each feed.  (can be set globally and/or per feed)
  icon  : emoji or unicode character. used as favicon and logo. (e.g. 🌍 📰 👓 🛸 🛰️ 🚀)
  color : css file from ./assets/color/  (blue.css, green.css, flat.css or solarized.css)
  theme : css file from ./assets/theme/ (101010.css, planet.css, reader.css or slash.css)
-->
<config max="10" icon="📰" color="blue.css" theme="101010.css" beta="true">
  <feed max="1">https://xkcd.com/rss.xml</feed>
  <feed>http://rss.slashdot.org/Slashdot/slashdotMain</feed>
  <feed>https://asktom.oracle.com/pls/apex/asktom.popular.rss</feed>
  <feed>https://blog.fefe.de/rss.xml?html</feed>
  <feed>https://github.blog/feed/</feed>
  <feed>https://netflixtechblog.com/feed</feed>
  <feed>https://www.heise.de/newsticker/heise-atom.xml</feed>
  <feed>https://www.heise.de/security/rss/news-atom.xml</feed>
  <feed>https://www.tagesschau.de/xml/rss2/</feed>
  <feed>https://www.taz.de/rss.xml</feed>
</config>
